#boxe1{
    border: 2px black solid;
	width: 400px;
	height:400px;
	margin: 150px auto 0px 40px;
}
#boxe2{
    border: 2px black solid;
	width: 400px;
	height:400px;
	margin: 150px auto 0px 30px;
}

.boxe{
    position: relative;
    display: inline-block;
}

#Video_window{
	width: 200px;
	height: 200px;
	margin : 450px auto auto auto;}
