
.boxe1{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
	
	
#Straightline{
	position : relative;
	bottom : 90px;
	left: 250px;
	padding-left:1rem;
}
#Turnright{
	position : relative;
	bottom : 90px;
	left: 250px;
	padding-left:1rem;
}
#Turnleft{
	position : relative;
	bottom : 90px;
	left: 250px;
	padding-left:1rem;
}

#Execute{
	 margin: 0;
   position: absolute;               
   top: 30%;
   left:50%;
   transform: translate(0, -50%);
  
}
#Save{
	 margin: 0;
   position: absolute;               
   top: 30%;
   left:27%;
   transform: translate(0, -50%);
  }
	
.button {
display:flex;
align-items: center;
}

#submitstraight, #submitright, #submitleft, #submitexe, #submitsave{
  font-size: 35px;
  height: 50px;
  width: max-content;
}
	


