#boxe1{
    border: 2px black solid;
	width: 200px;
	height:200px;
	margin: 100px auto 200px 220px;
}

#boxe2{
    border: 2px black solid;
	width: 200px;
	height:200px;
	margin: 100px auto 200px 30px;
}

.boxe{
    position: relative;
    display: inline-block;
	
}
	
	
#Straightline{
	position : relative;
	bottom : 90px;
	left: 200px;
	padding-left:1rem;
}
#Turnright{
	position : relative;
	bottom : 90px;
	left: 200px;
	padding-left:1rem;
}
#Turnleft{
	position : relative;
	bottom : 90px;
	left: 200px;
	padding-left:1rem;
}

#Execute{
	 margin: 0;
   position: absolute;               
   top: 20%;
   left:52%;
   transform: translate(0, -50%);
  
}
#Save{
	 margin: 0;
   position: absolute;               
   top: 20%;
   left:24%;
   transform: translate(0, -50%);
  }
	
.button {
display:flex;
align-items: center;
}

#submitstraight, #submitright, #submitleft, #submitexe, #submitsave{
  font-size: 35px;
  height: 50px;
  width: max-content;
}
	


