.boxe1, .boxe2{
    border: 2px black solid;
	position:static;
	width: 200px;
	height:200px;
	margin: 100px auto 200px auto;
    padding-top: 1rem;
	padding-bottom:1rem;
	padding-left:1rem;
	padding-right:1rem;
}
	
#Submitbutton{
	position : relative;
	bottom : 90px;
	left: 130px;
	padding-left:1rem;
}
#Straightline{
	position : relative;
	bottom : 90px;
	left: 130px;
	padding-left:1rem;
}
#Turnright{
	position : relative;
	bottom : 90px;
	left: 130px;
	padding-left:1rem;
}
#Turnleft{
	position : relative;
	bottom : 90px;
	left: 130px;
	padding-left:1rem;
}

#Execute{
	 margin: 0;
   position: absolute;               
   top: 22%;
   left:50%;
   transform: translate(0, -50%);
  
}
#Save{
	 margin: 0;
   position: absolute;               
   top: 22%;
   left:18%;
   transform: translate(0, -50%);
  }
	
.button {
display:flex;
align-items: center;
}

#submit, #submitstraight, #submitright, #submitleft, #submitexe, #submitsave{
  font-size: 35px;
  height: 50px;
  width: max-content;